spring:
  datasource:
    url: jdbc:h2:mem:workoutdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true

server:
  port: 8080
  error:
    include-stacktrace: never      # never send stack traces to client
    include-message: always        # send the error message (optional)
    include-binding-errors: never  # keeps responses clean